{{ define "main" }}
{{ .Content }}
<div class="row row-cols-1 row-cols-md-2">
    {{ range .Pages }}
    <div class="col my-3">
        <div class="card h-100">
            <div class="card-header">
                <h3>{{ .LinkTitle }}</h3>
            </div>
            <div class="card-body">{{ .Summary }}</div>
            <div class="card-footer">
                <a href="{{ .RelPermalink }}" class="btn btn-tags btn-sm">View</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}