{{- /*
Renders a top bar with page title and theme toggle.

@context {page} The current page.
*/}}

<header class="topbar noprint">
    <div class="topbar-content">
        <button id="sidebar-toggle" class="topbar-icon btn btn-link p-0 border-0" type="button"
            aria-label="Toggle sidebar menu">
            {{ partial "icon.html" (dict "name" "capy-icon") }}
        </button>
        <div class="topbar-title">
            <h1 class="topbar-title-text">{{ .Title | default site.Title }}</h1>
        </div>
        <div class="topbar-actions">
            <button id="export-pdf" class="btn btn-link text-light p-0 border-0" type="button" aria-label="Export as PDF">
                {{ partial "icon.html" (dict "name" "arrow-down-tray") }}
            </button>
            <button id="theme" class="btn btn-link text-light p-0 border-0" type="button" aria-label="Toggle theme">
                <span id="theme-icon-moon" class="theme-icon">{{ partial "icon.html" (dict "name" "moon-stars-fill")
                    }}</span>
                <span id="theme-icon-sun" class="theme-icon" style="display: none;">{{ partial "icon.html" (dict "name"
                    "sun-fill") }}</span>
            </button>
        </div>
    </div>
</header>