<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}"
  data-bs-theme="dark">

<head>
  {{ partial "head.html" . }}
</head>

<body class="overflow-y-scroll">
  {{ partial "topbar.html" . }}
  <div>
    {{ partial "sidebar.html" (dict "menuID" "main" "page" .) }}
    <div>
      <main class="container">{{ block "main" . }}{{ end }}</main>
      <footer>{{ partial "footer.html" . }}</footer>
    </div>
  </div>
</body>

</html>