{{ define "main" }}
<div class="home-page">
    <div class="row">
        <!-- Main Content - Left Column -->
        <div class="col-lg-8 col-md-12">
            <!-- Main Content -->
            <div class="pb-4">
                {{ .Content }}
            </div>
        </div>

        <!-- Sidebar - Right Column -->
        <div class="col-lg-4 col-md-12">
            {{- $capybaraImage := resources.Get "capybara/capy-super.png" }}
            {{- if $capybaraImage }}
            <div class="py-3 text-center">
                <img class="img-responsive rounded img-fluid" src="{{ $capybaraImage.RelPermalink }}"
                    style="max-width: 256px; width: 100%;" alt="Capybara mascot">
            </div>
            {{- end }}
            <div class="pb-4">
                <h3 class="text-title">About</h3>
                <div class="border-top pb-2"></div>
                <a href="/resume/" class="btn btn-primary btn-sm">View Resume</a>
            </div>
        </div>
    </div>
</div>
</div>
{{ end }}